*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.logo img{
    height: 60px;
    width: 139px;  
}
.section-heading{
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}
.section-heading h2{
    font-size: 48px;
    font-weight: 700;
    margin-top: 55px;
    margin-bottom: 16px;
    color: #001931;
}
.section-heading p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 44px;
    color: #627382;
}
.btn{
    background-color: #30B868;
    border: none;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.btn1{
    background-color: #30B868;
    border: none;
    padding: 12px 46px 12px 12px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.btn2{
    background-color: transparent;
    padding: 10px 10px 10px 46px;
    border-radius: 4px;
    border-color: white;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin: 32px 17px 120px;
    cursor: pointer;
}
.color-green{
 color: rgba(48, 184, 104, 1);
}
.color-white{
    color: white;
}
header{
    background-color:rgb(255, 255, 255);
    
}

nav{
    
    height: 92px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 80px;
    margin-left: 70px;
 
    
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    
}
nav .menu a{
    font-size: 16px;
    font-weight: 500;
    color: black;
    opacity: 90%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Banner{
    margin: 0 auto;
    align-items:center ;
    text-align: center;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content:center;
  
}
#Banner .Banner-content h1{

    font-size: 72px;
    font-weight: 700;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    
}
#Banner .Banner-content p{
font-size: 18px;
margin: 0 auto;
line-height: 24px;
width: 673px;
text-align: center;
color: rgba(255, 255, 255, 1);
}

#notes .notes-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 120px;
}
#notes .notes-container .notes-info{

    gap: 24px;
    display: flex;
    justify-content: space-between;
}
.notes-info .info-card{
    padding: 24px;
    box-shadow: 0 0 8px 0 #0000002d;
    max-width: 322px;
    height: 300px;
    /*border: 1px solid red;*/
    margin: 0 auto;
    text-align: center;
    
}
.info-card img{
    margin: 50px 60px 16px 60px;
}
.info-card h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #001931;
    text-align: center;
}
.info-card p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 70px;
    text-align: center;
     
}
#Brain{

    margin: 72px 120px 122px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Brain .Brain-content{
    width: 670px;

}
#Brain .Brain-content h3{
color: #469165;
font-size: 16px;
font-weight: 500;
line-height: 20px;
margin-bottom: 16px;
}
#Brain .Brain-content h2{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    border: 1px solid red;
    margin-bottom: 16px;
}
#Brain .Brain-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
#Brain .caption h4{
    color:#001931 ;
    margin-bottom: 16px;
    margin-left: 6px;
}
#Brain .ele{
    display: flex;
    justify-content: space-between;
}